<h1>Accounts</h1>

<ul>
  <% @accounts.each do |a| %>
    <% @person = Person.find(a.person_id) %>

    <li>
      <%= @person.first_name + " " + @person.last_name + "'s account" %>
    </li>
  <% end %>
</ul>
